{{define "base"}}
<!doctype html>
<html lang='ru'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SNIPLY | {{template "title" .}}</title>

        {{/* Подключаем шрифты */}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Ubuntu+Mono:400;700&display=swap" rel="stylesheet">

        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.png' type='image/x-icon'>
    </head>
    <body>
        <header>
             <div class="container">
                <h1><a href='/'>SNIPLY</a></h1>
            </div>
        </header>

        <nav>
            <div class="container">
                <div class="nav-main">
                    <a href='/'>Домашняя страница</a>
                    <a href='/snippet/create'>Новая заметка</a>
                </div>
                 <div class="nav-auth">
                    {{/* Ссылки типа "Вход", "Регистрация" сюда */}}
                 </div>
            </div>
        </nav>

        <main>
            <div class="container"> 
                {{template "main" .}}
            </div>
        </main>

        {{template "footer" .}}

        <script src='/static/js/main.js' type='text/javascript'></script>
    </body>
</html>
{{end}}