{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
    <h2>Последние заметки</h2>

    {{if .Snippets}}
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Создана</th>
                <th>ID</th>
            </tr>
        </thead>
        {{range .Snippets}}
        <tr>
            <td><a href='/snippet/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>Пока здесь ничего нет. Почему бы не <a href='/snippet/create'>создать заметку</a>?</p>
    {{end}}
{{end}}